.flag-icon{
  border-radius: 6%;
  box-shadow: 1px 1px 3px grey;
}

.add-lang-btn{
  position: relative !important;
  height: 24px;
  font-size: 10px !important;
}

.add-lang-dialog{
  width: 400px;
}